*{
    margin: 0;
    padding: 0;
    font-family: Ubuntu;
}
a {
 text-decoration: none;
 color: black;
 position: relative;
}
.menu a:after {
    content:'';
    width: 0px;
    background-color: black;
    height: 1px;
    position: absolute;
    left: 0px;
    bottom: -2px;
}
.menu a:hover:after {
    width: 100%;
    transition: ease-in-out 0.3s;
}
p {
    font-size: 16px;
}
header {
background-color:#FFFFFF;

}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
.menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu ul li {
    list-style-type: none;
    margin-left: 33px;
}
.header {
    height: 74px;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.contacts {
    margin-left: auto;
    text-align: right;
}
.contacts p:first-child {
    font-weight: bold;
}
.contacts p:last-child {
    font-size: 14px;
}
.advert {
    width: 100%;
    height: 100%;
    background: center / cover no-repeat no-repeat url(Images/Rectangle\ 2.jpg);
}
.advert_filter {
    width: 100%;
    height: 100%;
    background: center / cover no-repeat no-repeat url(Images/shadow.png);
}
.advert_content {
    display: flex;
    flex-direction: column;
    color:white;
    max-width: 570px;
    padding-top: 125px;
    padding-bottom: 121px;
    
}
.advert_heading h1{
font-weight: bold;
font-size: 40px;
line-height: 46px;
}
.advert_text p{
font-size: 18px;
line-height: 24px;
}
.advert_text {
    margin-top: 13px;
    margin-bottom: 33px;
}
.advert_buttons {
    display: flex;
    flex-direction: row;
}
.advert_buttons .call {
    width: 214px;
    height: 51px;
    background: #D51522;
    box-shadow: 0px 2px 8px rgba(65, 65, 65, 0.25);
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
}
.advert_buttons input {
    font-family: Ubuntu;
    font-size: 16px;
    line-height: 18px;
    padding-left: 16px;
    margin-right: 17px;
}
.news {
    background-color: #FFFFFF;
}
.news_content {
    padding-top: 84px;
    padding-bottom: 61px;
}
.news_header {
    text-align: center;
}
.slider {
    position: relative;
    overflow-x: hidden;
    max-width: 1140px;
    height: 271px;
    margin-top: 48px;
    overflow-y: hidden;
}
.slide {
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    

}
.news_content_blocks {
    position: absolute;
    display: flex;
    flex-direction: row;
    margin-top: 14px;
    left: 0px;
    transition: 1s;
}
.content_content_block {
    display: flex;
    flex-direction: column;
}
.news_content_blocks .content_block {
    z-index: 2;
    width: 349px;
    padding: 34px 27px 34px 27px;
    background: #FFFFFF;
    border: 1px solid #D8D8D8;
    box-sizing: border-box;

}
.news_content_blocks .content_block time {
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    color: #636363;
}
.news_content_blocks .content_block p {
    margin-top: 11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: black;
    margin-bottom: 56px;
}
.news_content_blocks .content_block button {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #D51522;
    width: 156px;
    height: 44px;
    border: 1px solid #D51522;
    background-color: #FFFFFF;
}
.red_block {
    z-index: 1;
    position: absolute;
    height: 243px;
    width: 349px;
    left: 0px;
    top:0px;
    background: #D51522;
}
.violet_block {
    z-index: 1;
    position: absolute;
    height: 243px;
    width: 349px;
    right:0px;
    top:38px;
    background: #6F61A0;;
}
.news {
    height: 533px;
}
.content_block button:active {
    background: #D51522;
    color: white;
    border: 1px solid white;}
.toggle_slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 18px;
}
.toggle_slider svg:not(:first-child){
    margin-left: 18px;
}
.radio_button {
    fill:#CACACA;
}
.radio_button_active {
    fill: red;
}
footer {
    background-color: #211F2B;
    max-height: 500px;
}
.footer_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 38px 0 48px 0;
}
.footer_menu a{
    color: #FFFFFF;
}
.footer_menu .footer_logo {
    max-width: 103px;
    max-height: 77px;
}
.footer_menu ul {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer_menu ul li:not(:first-child) {
margin-left: 33px;
}
.close {
    display: none;
}
.contacts_mobile {
    display: none;
}
.burger_button {
    display: none;
   
}
@media screen and (max-width:1200px) {
    .slider {
        height: 300px;
    }
}
@media screen and (max-width:900px) {
    .content_block p{
     margin-bottom: 15px!important;
    }
}
@media screen and (max-width:760px) {
    .header {
        justify-content: space-between!important;
        width: 100%;
    }
    .contacts {
        margin-left: 0;
    }
    .burger_button {
        display: flex;
        flex-direction: column;
    }
    .burger_button img:not(:first-child) {
        margin-top: 7px;
    }
    .menu_active {
        left: 0px!important;
    }
    .menu_disable {
        left: -100%;
    }
    .content_block p{
        font-size: 13px!important;
        line-height: 18px!important;
       }
    .content_block button {
        height: 30px!important;
        width: 100px!important;
        font-size: 13px!important;
    }
    .slider {
        height: 240px;
    }
    .menu {
        font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;  
        box-shadow: 0px 5px 16px rgba(90, 90, 90, 0.25);
        z-index: 4;
        position: absolute;
        background-color: white;
        width: 80%;
        top:0px;
        display: flex;
        flex-direction: column;
        max-height: 1600px;
        transition: ease-in-out 0.4s;
    }
    .contacts_mobile p:first-child{
        font-family: Ubuntu;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 15px;
    }
    .contacts_mobile:last-child {
        font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    }
    .contacts_mobile {
        display: block;
        background-color: #211F2A;
        color: #FFFFFF;
        height: 100%;
        padding: 36px 0 0 17px;
    }
    .menu ul {
        justify-content: space-around;
        height: 50%;
        display: flex;
        flex-direction: column;
        padding-bottom: 58px;
    }
    .close {
        display: block;
        margin-left: 17px;
    }
    .menu ul li {
        margin-left: 17px;
    }
}
@media screen and (max-width:630px) {
    .content_block {
        text-align: center;
    }
    .content_content_block {
        align-items: center;
        justify-content: center;
    }
    .content_block p{
        font-size: 10px!important;
        line-height: 12px!important;
       }
    .content_block button {
        height: 20px!important;
        width: 70px!important;
        font-size: 10px!important;
    }
    .slider {
        height: 240px;
    }
    .content_block time {
        font-size: 10px!important;
    }
    .footer_menu {
        flex-direction:column;
    }
    .footer_menu ul {
        justify-content: space-around;
    }
    .footer_menu ul li{
    margin-top: 20px;
    margin-left: 0px!important;
    
    }
}
@media screen and (max-width:440px) {
    .violet_block {
    top:20px;
    }
    .content_block {
        padding: 10px 15px 10px 15px!important;
    }
    .content_block button {
        height: 20px!important;
        width: 50px!important;
        font-size: 8px!important;
    }
    .content_block p{
        font-size: 8px!important;
        line-height: 10px!important;
       }
       .content_block time {
        font-size: 8px!important;
    }
    .slider {
        height: 200px;
    }
}
@media screen and (max-width:380px) {
    .advert_buttons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .advert_buttons input {
        width: 214px;
        height: 51px;
        margin-bottom: 10px;
        margin-right: 0px;
        text-align: center;
        padding: 0;
    }
    .advert_heading h1 {
        font-size: 30px;
    }
    .advert_content {
        text-align: center;
        
        
    }
    .footer_menu ul {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}